body{
    background-image: url(../img/land_page/main_background_0.jpg);
}

.title{
    padding: 100px 0 2% 0;
}
.separator{
    padding-bottom: 3%;
}
#separator2{
    padding-top: 3%;
}

.section{
    width: 79%;
    max-width: 79%;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1% 0 0% 0;

    background-image: url(../img/land_page/main_background_1.jpeg);
    
    border-bottom: 1px double #d8d8d8;
    border-left: 1px double #d8d8d8;
    border-right: 1px double #d8d8d8;
    border-radius:0px 0px 7px 7px;
    -moz-border-radius:0px 0px 7px 7px;
    -webkit-border-radius:0px 0px 7px 7px;
    
    -webkit-box-shadow:-9px 13px 22px 0px #2f2f2f ;
    -moz-box-shadow:-9px 13px 22px 0px #2f2f2f ;
    box-shadow:-9px 13px 22px 0px #2f2f2f ;
}

#shortstorySection{
    margin-bottom: 10%;
}

#shortstories{
    justify-content: flex-start !important;
}

#section:after{
    height: 100%;
}

#shortstories_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 4% 4%;
}

.sectionTitleDiv{
    margin: auto;
    width: 84%;
    
    background-image: url(../img/land_page/header_backgrond.jpg);
    
    background-size: auto;
    background-repeat: round;
    
    border: 1px double #d8d8d8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
        
    -webkit-box-shadow:-9px 13px 22px 0px #2f2f2f ;
    -moz-box-shadow:-9px 13px 22px 0px #2f2f2f ;
    box-shadow:-9px 13px 22px 0px #2f2f2f ;
}

.subtitle{
    width: 100%;
    cursor: pointer;
    text-align: left;
    margin: auto;
    padding: 1% 1% 1% 5.5%;
}

#larpmanual_text{
    margin: auto;
    max-width: 77%;
    padding: 3.5% 0px;
}

#lore_text{
    margin: auto;
    width: 65%;
    max-width: 65%;
}

.thumbnail_manual{
    max-width: 77%;
    
    margin-top: 2%;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    
    border:5px double #a38c1b;
    
    transition: 0.25s;
}

.thumbnail_manual:hover{
    transform: scale(1.12, 1.12);
}

.cell_holder{
    display: block;
    max-width: 22%;
    text-align: center;
    padding-bottom: 2%
}

.shortstoryTitle{
    max-width: 50%;
}

.thumbnail{
    max-width: 75%;
}

h5 {
    font-size: 1.2vw;
}