@charset "utf-8";

/* CSS Document for the contact page
   Must be loaded after "global.css" */

body{
    max-width: 100%;
    max-height: 100%;
    background-image: url(../img/contacto/contacto_background.png);
    background-position: top;
    background-size: auto;
    background-repeat: repeat-x;
}