/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2018, 0:58:40
    Author     : javier
*/

.form_container{
    display: block;
    
    padding-top: 100px;
}

.form{
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    border: 4px double #ffffff;
    
    transition: 0.3s;
}

.form:hover{
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}

.form-separator{
    margin-bottom: 1%;
    margin-top: 1%;
}

input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.925em;
    padding: 10px;
}

input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
}

/* on hover placeholder */

input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.925em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #e2dedb;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.925em;
}

input {
    font-family: 'Marcellus', serif;
    font-size: 0.925em;
    width: 90%;
    max-width: 470px;
    height: 50px;
    padding: auto;
    margin: 0px auto 15px 0;
    
    background: transparent;
    outline: none;
    color: #e2dedb;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #666666;
    color: #e2dedb;
}

textarea {
    width: 90%;
    max-width: 470px;
    height: 90%;
    max-height: 110px;
    padding: auto;
    margin: 0 auto 5% auto;
    
    background: transparent;
    outline: none;
    
    color: #e2dedb;
    font-family: 'Marcellus', serif;
    font-size: 0.925em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #666666;
    color: #e2dedb;
}

#submit {
    width: 160px;
    
    padding: auto;
    margin: 0px auto 20px auto;
    
    font-family: 'Marcellus', serif;
    font-size: 0.925em;
    color: #b3aca7;
    
    outline: none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-radius: 2px;
}

#submit:hover {
    background: none;
    color: white;
    box-shadow: 0 0 20px #a87508;
}

@media only screen and (max-width: 600px) {
    .form_container{
        margin: 20% auto 10% auto;
    }
}

@media only screen and (max-width: 375px) {
    .form_container{
        margin: 45% auto 10% -4%;
    }
}