/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2018, 0:06:42
    Author     : javier
*/

.body{
    height: auto;
    width: auto;
}

.super_container{
    position: relative;
    width: inherit;
    height: inherit;
    
    background-image: url(../img/land_page/main_background_0.jpg);
    background-size: 100%;
    
    margin: 0vw -0.5vw 0vw -0.5vw;
}

.container_thumb {
    position: relative;
    
    height: auto;
    width: auto;
    
    max-height: 100%;
    max-width: 100%;
    
    padding: 24% 0; 
    
    background-image: url(../img/CP-X/Portada-CPX.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
    box-shadow: 0px 0px 25px 5px #2d2d2d inset;
}

.textContainer {
    position: relative;
    
    width: auto;
    height: auto;
    
    max-height: 100%;
    max-width: 100%;
    
    padding: 7% 19% 3% 19%;
}

#infoOffRol{
    padding: 0% 19% 0% 19%;
}

.separator{
    display: block;
    max-width: 440px;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 0 0 3% 0;    
}

#sinopsis_title{
    padding: 5%;
}

#atomo{
    position: relative;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 2%;
}

.dialog{
    padding-left: 22%;
    padding-right: 24%;
}

.dialogtext{
    text-align: left;
}

#contactoCP-X{
    padding: 3% 35% 3% 35%;
    margin:  0 auto 0 auto;
}

@media only screen and (max-width: 900px) {
    
    #contactoCP-X{
        padding: 3% 15% 3% 15%;
        margin:  0 auto 0 auto;
    }
}

@media only screen and (max-width: 490px) {
    
    #contactoCP-X{
    padding: 3% 5% 3% 5%;
    margin:  0 auto 0 auto;
    }
}