.body{
    height: auto;
    width: auto;
}

.super_container{
    position: relative;
    width: inherit;
    height: inherit;
    
    background-image: url(../img/land_page/main_background_0.jpg);
    background-size: 100%;
    
    margin: 0px;
    
    padding-bottom: 3%;
}

.container_thumb {
    position: relative;
    
    height: auto;
    width: auto;
    
    max-height: 100%;
    max-width: 100%;
    
    top: 75px;
    
    padding: 19% 0; 
    
    background-image: url(../img/cuentos-de-rhoeas/rhoeas_thumb.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
    box-shadow: 0px 0px 25px 5px #2d2d2d inset;
}

.rhoeasMenu{
    margin: 9% 20px auto 20px;
}

.navigation{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    align-items: center;
}

.menuListItem{
    margin: 20px auto;
    
    width: 46%;
}

.wrapper{
    padding: 1%;
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    border: 3px double #d9d9d9;
    
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    background: none;
    
    text-decoration: none;
    color: #ffffff;
    
    transition: 0.5s;
}
.wrapper:hover, 
.wrapper:focus {
    -webkit-box-shadow: inset 0px 0px 26px 16px rgba(255,255,255,0.55);
    -moz-box-shadow: inset 0px 0px 26px 16px rgba(255,255,255,0.55);
    box-shadow: inset 0px 0px 26px 16px rgba(255,255,255,0.55);
}

.sub_menu{
}

.container_sinopsis {
    position: relative;
    
    width: auto;
    height: auto;
    
    max-height: 100%;
    max-width: 100%;
    
    padding: 0 17%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#sinopsis_title{
    padding: 0 0 3% 0 ;
}

#separator-icon{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    transform: scale(0.80, 0.80);
}

@media only screen and (max-width: 768px) {
    
    .rhoeasMenu{
    margin: 16% 20px auto 20px;
}
}