/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2018, 1:40:04
    Author     : javier
*/

html { 
    position: relative; 
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    
    background-image: url(../img/land_page/main_background_0.jpg);
}

.slidercontainer{
    min-height: 100%;
    width: 100%;
    
    margin: 0;
}

.imageholder{
    position: absolute;
    left: 0;
    top: 100%;
    
    min-height: 100%;
    width: 63%;
    
    background-size: cover;
    background-position: center;
    
    border: 5px double white;
    border-left: none;
}

#Cris{
    background-image: url(../img/equipo-rhoeas1/Cristina_Montes_Pastrana.jpg);
}

#Javi{
    background-image: url(../img/equipo-rhoeas1/Javier_Sanjuan_Fernandez.jpg);
}

#Isaac{
    background-image: url(../img/equipo-rhoeas1/Isaac.jpg);
}

.description{
    position: absolute;
    left: 63%;
    top: 100%;
    min-height: 100%;
    
    background-image: url(../img/land_page/main_background_1.jpeg);
    width: 37%;
    padding: 25% 0;
    text-align: center;
    color: white;
    
    border: 5px double white;
}

.separator{
    width: 75%;
}

.photo{
    width: 100%;
}

.slideactive{
    -webkit-animation-name: moveIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.75s; /* Safari 4.0 - 8.0 */
    animation-name: moveIn;
    animation-duration: 0.75s;
    top: 0%;
}

.dotsactive{
    opacity: 1 !important;
}

.descriptionactive{
    -webkit-animation-name: moveInDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.75s; /* Safari 4.0 - 8.0 */
    animation-name: moveInDown;
    animation-duration: 0.75s;
    top: 0%;
}

#multiscroll-nav{
    position: absolute;
    left: 94%;
    top: 44%;

    z-index: 2;
    
    display: flex;
    flex-direction: column;
}

#multiscroll-nav-column li{
    z-index: 3;
    margin: 5px auto; 
    
    width: 16px;
    height: 16px;
    
    list-style: none;
    
    background-color: #dbdbdb;
    cursor: pointer;
    border: 0px hidden #000000;
    border-radius: 16px;
    opacity: 0.33;
}

#multiscroll-nav-column li:hover{
    transition-duration: 0.5s;
    opacity: 1;
}

@media only screen and (max-width: 660px){
    body{
        overflow: visible;
    }
    
    .slidercontainer{
        flex-wrap: wrap;
    }
    
    .imageholder{
        position: relative;
        width: 100%;
        min-height: 350px;
        border-bottom: solid 1px white;
    }
    .description{
        position: relative;
        left: 0px;
        width: 100%;
        min-height: 150px;
        max-height: 400px;
        border: none;
    }
}

@-webkit-keyframes moveIn {
    0%   {top:100%;}
    100% {top:0px;}
}

@keyframes moveIn {
    0%   {top:100%;}
    100% {top:0px;}
}

@-webkit-keyframes moveInDown {
    0%   {top:-200%;}
    100% {top:0px;}
}

@keyframes moveInDown {
    0%   {top:-200%;}
    100% {top:0px;}
}