.rfoot{
    background-image: url(https://i.imgur.com/WWQJqFc.png);
    z-index: 10;
    position:absolute;
    width:157px;
    height:250px;
    left: -200px;
    top: -200px;
    transform: scale(0.5, 0.5);
}

.lfoot{
    background-image: url(https://i.imgur.com/MuNK8xV.png);
    z-index: 10;
    position:absolute;
    width:157px;
    height:250px;
    left: -500px;
    top: -500px;
    transform: scale(0.5, 0.5);
}