.footer-container{
    margin: 0px;
    padding: 30px 14%;
    
    display: flex;
    justify-content: space-between;
    
    background-color: #272727;
    border-top: 1px solid white;
}

.footer-div{
    flex-basis: auto;
    
    display: flex;
    flex-direction: column;
    
    text-align: left;
    justify-content: center;
}

.footer-div{
    flex-basis: 50%;
    
    text-align: left;
}

.footer-div:first-child{
    flex-basis: 60%;
    
    text-align: left;
}

.footer-div:first-child h5{
    text-align: left;
}

.footer-div:last-child{
    flex-basis: 40%;
    
    text-align: right;
}

.footer-div:last-child h5{
    text-align: right;
}

.footer-div *{
    margin: 5px 0;
}

.footer-social-media-icon{
    margin-left: 5px;
    margin-right: 5px;
}

.footer-separator{
    display: none;
    width: 100%;
}

.footer-div a{
    color: #5b3b3b;
}

.footer-div a:hover{
    animation: shine;
    animation-duration: 0.5s;
}

@media only screen and (max-width: 768px) {
    
    .footer-container{
        flex-direction: column;
        justify-content: center;
    }
    
    .footer-div{
        text-align: center !important;
    }
    
    .footer-div h5{
        text-align: center !important;
    }
    
    .footer-separator{
    display: block;
    }
}

@keyframes shine{
    0%{
        transform: scale(1, 1);
        color: white;
    }
    100%{
        transform: scale(1, 1);
        color: #5b3b3b;
    }
}