@charset "utf-8";

/* Global css */

body{
    max-width: 100%;
    max-height: 100%;
    
    font-family: 'Marcellus', serif;
    letter-spacing: 0.1px;
    
    text-align: center;
    background-color: #666666;
    
    margin: 0;
}

a{
    text-decoration: none;
    color:white;
}

ul {
  list-style: none
}

/* Fonts */

h1{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.22em;
    vertical-align: baseline;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.22em;
    vertical-align: baseline;
    font-size: 46px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.22em;
    vertical-align: baseline;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.22em;
    vertical-align: baseline;
    font-size: 24px;
}

h5{
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.22em;
    vertical-align: baseline;
    font-size: 20px;
    margin: 0px;
}

h6{
    font-family: 'Marcellus', serif;
    color: #ffffff;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    vertical-align: baseline;
    display: block;
    font-weight: 500;
    
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 27px;
    margin: 10px 0;
}

small{
    color: #e2e2e2;
}

span{
    
}

@media screen and (max-width: 768px){
    
    /*TODO HEADER RESPONSIVE*/
    
    /* Fonts */
    
    h1{
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 42px;
    }
    
    h2{
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 34px;
    }
    
    h3{
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 20px;
    }
    
    h4{
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 22px;
    }
    
    h5{
        
        font-family: 'Marcellus', serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 14px;
    }
    
    h6{
        font-family: 'Marcellus', serif;
        font-weight: 200;
        color: #ffffff;
        text-align: center;
        line-height: 1.11em;
        vertical-align: baseline;
        font-size: 14px;
    }
    
    p{
        font-family: 'Marcellus', serif;
        font-size: 15px;
        
        color: #ffffff;
        text-align: center;
        vertical-align: baseline;
        display: block;
        font-weight: 500;
        
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        line-height: 27px;
        margin: auto;
        padding: 0 5px;
    }
    
    small{
        font-size: 10px;
    }
    
    span{
        padding: 10px 10px;
    }
}

@media screen and (max-width: 576px){
    
    h1{
        font-size: 34px;
    }
    
    h2{
        font-size: 24px;
    }
    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 19px;
    }
    
    h5{
        font-size: 12px;
    }
    
    h6{
        font-size: 12px;
    }
    
    p{
        font-size: 13px;
    }
}