@charset "utf-8";
/* CSS Document */

.navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    max-height: 70px;
    z-index: 2;
    
    background-color: rgba(0,0,0,0.30);
    border-bottom: 1px solid white;
}

.navbar-bar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
    align-items: center;
}

.navbar-logocontainer{
    margin: 0 10px 0 15px;
    flex-grow: 2;
}

.logo{
    position: absolute;
    top: 3px;
    left: 7%;
    max-height: 60px;
    
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}

.navbar-nav{
    margin-right: 5%;
    padding: 0px;
    display: flex;
    
    animation: FadeInDown;
    animation-duration: 0.2s;
}

.navbar-item:hover .navbar-subnav{
    display:block;
}

.navbar-item ul li:hover{
    background-color: #828282;
}

.navbar-item{
    margin: 0;
    padding: 5px 0;
    
    cursor: pointer;
}

.navbar-item span{
    position: relative;
    bottom: -5px;
}

.navbar-item:hover{
    opacity: 0.90;
}

.navbar-item a{
    margin: 0 8px;
}

.navbar-subnav{
    position: relative;
    margin-top: 8px;
    padding: 0;
    
    display: none;

    background-color: black;
    border: 1px solid white;
    
    animation: fadeInDown;
    animation-duration: 0.5s;
}

/* Responsive stuff */

.toggle{
    display: none;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    
    box-sizing: border-box;
    color: white;
    background-color: rgba(33, 32, 31, 0.80);
}

.logo-responsive{
    top: -8px;
    left: 50%;
    position: absolute;
    z-index: 2;
    padding: 0;
    margin-left: -36px; 
    width: 72px;
    height: 72px;
    
    background-image: url(../img/land_page/theroamers_icon_round.png); 
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
}

.responsive-menu-icon-left{
    margin-right: auto;
    
    cursor: pointer;
}

.responsive-menu-icon-right{
    margin-left: auto;
    
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    
    .toggle{
        display: flex;
        
        align-items: center;
    }
    
    .navbar{
        background-color: transparent;
    }
    
    .navbar-logocontainer{
        display: none;
    }
    
    .navbar-nav{
        width: 100%;
        display: none;
        margin: auto;
    }
    
    .navbar-subnav{
        position: relative;
        top: 7px;
        width: 100%;
    }
    
    .navbar-subnav li{
        padding: 5px 0px;
    }
    
    .navbar-subnav li:last-child{
        display: block;
    }
    
    .navbar-item{
        width: 100%;
        text-align: center;
        border: 1px solid white;
        background-color: rgba(51, 43, 35, 0.90);
    }
    
    .navbar-item:last-child{
        display: none;
    }
    
    .active{
        display: flex;
        flex-direction: column;
        transition-timing-function: ease-in;
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes FadeInDown{
    0%{
        transform: translateY(-25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}