@charset "utf-8";

.super_container{ 
    position: relative;
    
    width: inherit;
    height: inherit;
}

.containter {
    position: relative;
    
    height: 100%;
    
    padding: 10% 16% 5% 16%;
    
    width: inherit;
    height: inherit;
    
    margin: 0vw -0.5vw 0vw -0.5vw;
}
.separator{
    
    display: block;
    margin: 2% auto 4% auto;
    max-width: 100%;
}
.table_div{
    position: relative;
    
    max-width: 100%;
    height: auto;
    
    margin: 0px auto;
    
    display: table;
    table-layout: auto;
    
    vertical-align: middle;
    text-align: center;	
}
.row_div{
    display: table-row;
    
    max-width: 100%;
    height: auto;
    
    margin: 0px auto;
}
.cell_holder{
    display: table-cell;
    
    max-width: 100%;
    height: auto;
    
    padding: 5px;
    margin: 0px auto;
}

/* Logo's area */

#logo_container{
    background-image: url(../img/land_page/logo_background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    
    animation: backgroundGetClose;
    animation-duration: 8s;
}
#main_logo{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    width: 90%;
    
    display: block;
}

#logo_separator{
    animation: fadeIn;
    animation-duration: 2s;
}

#logo_subtext_div{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    padding: 3.2% 0%;
}

/* About LARP's div area  */

#about_container{
    background-image: url(../img/land_page/main_background_1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    box-shadow: 0px 0px 25px 10px #2d2d2d inset;
    
    padding: 8%;
}

#about_text{
    position: relative;
    max-width: 100%;
    width: 87%;
    display: block;
    margin: 2% auto 5% auto;
    padding: 1% 0%;
}

.icon_div{
    
    max-width: 100%;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 0 5%;
    
    text-align: center;
}

.icon_text_div{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.about_icon{
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Sagas' div area */

.thumbnail{
    background-image: url(../img/land_page/main_background_0.jpg);
    
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-y;
    
    box-shadow: 0px 0px 25px 10px #2d2d2d inset;
}

.blank_space{
    margin: 2% auto;
}

.sagas_thumbnail{
    transform: scale(0.85, 0.85);
    transition: 0.25s;
    
    max-width: 100%;
    
    margin: 0 auto;
}

.sagas_thumbnail:hover{
    transform: scale(1, 1);
}

#minirevs_title{
    padding: 3% 0 0 0;
}

@media only screen and (max-width: 700px) {
    
    .cell_holder{
        display: table-row;
    }
}

/* Main page animations */
@keyframes backgroundGetClose{
    0% { 
        background-size: 100% 100%;
    }
    100% { 
        background-size: 110% 110%;
    }
}