/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2018, 17:21:14
    Author     : javier
*/
body{
    background-image: url(../img/land_page/main_background_0.jpg);
    background-size: 100%;
}

.mainsection{
    margin: 0;
    padding-top: 90px; 
}

.table{
    display: table;
    margin: 2.5% auto;
    width: 90%;
}

/* Style the buttons inside the tab */

.table ul{
    overflow: auto;
    list-style: none;
    
    margin-left: -30px;
}

.table li{
    background-color: inherit;
    
    display: inline;
    
    height: 25px;
    margin-right: 0px;
    padding: 0 20px;
    
    border-right: 1px solid #aaa;
    
    transition: 0.3s;
    
    text-decoration: none;
    color: white;
    font-size: 15px;
    outline: none;
    border-right: 3px solid white;
    border-left: 3px solid white;
    cursor: pointer;
}

.table li:last-child{
  border-right: none;
}

.table li:first-child{
  border-left: none;
}

/* Change background color of buttons on hover */
.table li:hover{
    background-color: #ddd;
    color: #2f2f2f;
}

/* Create an active/current tablink class */
.table .active{
    background-color: #eacb7c;
    color: black;
}

.list{
    display: none; 
    
    width: 75%;
    margin: 5% auto;
    
    animation: listFadeIn 0.5s ease-out;
}

/* Pj div css */
.pj{
    margin: 2% auto;
    border: 3px double white;
    padding-top: 15px;
}

.pj p{
    font-size: 14px;
    margin: 2% 2%; 
}

.pj hr{
    width: 95%;
}

.pj h3{
    font-size: 22px;
}
.shield{
    max-height: 75px;
}
.status{
    font-weight: 600;
    color: #00cc00;
}

@keyframes listFadeIn{
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}